<?xml version="1.0" encoding="UTF-8"?>
<!-- id: プラグインの識別子、version: プラグインのバージョン -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-baasatrakuza"
  version="1.1.0">

  <!-- プラグイン名 -->
  <name>BaaSAtRakuza</name>
  <!-- プラグインの説明 -->
  <description>BaaS@rakuza SDK for Cordova plugin.</description>
  <!-- 作者 -->
  <author>People software corp.</author>
  <!-- キーワード -->
  <keywords>cordova, in, app, baas, rakuza, sdk, cordova-android, cordova-ios, 楽座</keywords>
  <!-- ライセンス -->
  <license>Apache License 2.0</license>

  <!-- プラグインがサポートするCordovaのバージョン -->
  <engines>
    <engine name="cordova-android" version=">5.0.0"/>
  </engines>
  <!-- JSの場所指定。name: モジュール名 -->
  <js-module src="www/baasatrakuza.js" name="RKZClient">
    <clobbers target="RKZClient"/>
  </js-module>
  <js-module src="www/search_condition.js" name="SearchCondition">
    <clobbers target="RKZSearchCondition"/>
  </js-module>
  <js-module src="www/sort_condition.js" name="SortCondition">
    <clobbers target="RKZSortCondition"/>
  </js-module>
  <js-module src="www/message.js" name="Messages">
    <clobbers target="RKZMessages"/>
  </js-module>
  <js-module src="www/file_type.js" name="FileType">
    <clobbers target="RKZFileType"/>
  </js-module>

  <!-- Android用の設定 -->
  <platform name="android">
    <!-- Androidのconfig.xmlはここ→project/platform/android/res/xml/config.xmlにあるのでそこに反映するように -->
    <config-file target="res/xml/config.xml" parent="/*">
      <!-- Cordovaはfeatureタグをみて、どのプラグインが有効か見る。以下の情報が上記のファイルに追加される。 -->
      <feature name="BaaSAtRakuza">
        <param name="android-package" value="jp.raku_za.baas.cordova.android.RKZClient"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    </config-file>
    <framework src="com.google.code.gson:gson:2.7" />
    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

    <!-- Javaのソースファイル。 target-dir: ファイルがコンパイルされるべき場所 -->
    <!-- 以下だとproject/platform/android/src/plugin/helloworld/以下になる -->
    <source-file src="src/android/RKZClient.java" target-dir="src/jp/raku_za/baas/cordova/android"/>
    <source-file src="src/android/RKZAPIBridge.java" target-dir="src/jp/raku_za/baas/cordova/android"/>
    <source-file src="src/android/RKZErrorResponse.java" target-dir="src/jp/raku_za/baas/cordova/android"/>
    <source-file src="src/android/impl/ApplicationBridge.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <source-file src="src/android/impl/BeaconBridge.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <source-file src="src/android/impl/BridgeBase.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <source-file src="src/android/impl/ContactBridge.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <source-file src="src/android/impl/CouponBridge.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <source-file src="src/android/impl/NewsBridge.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <source-file src="src/android/impl/ObjectDataBridge.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <source-file src="src/android/impl/PointBridge.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <source-file src="src/android/impl/SpotBridge.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <source-file src="src/android/impl/StampRallyBridge.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <source-file src="src/android/impl/TenantBridge.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <source-file src="src/android/impl/UserBridge.java" target-dir="src/jp/raku_za/baas/cordova/android/impl"/>
    <lib-file src="src/android/libs/BaaSAtRakuzaSDK_for_Android.jar" />
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BaaSAtRakuza">
        <param name="ios-package" value="RKZClient"/>
      </feature>
    </config-file>

    <header-file src="src/ios/RKZClient.h" />
    <source-file src="src/ios/RKZClient.m" />
    <source-file src="src/ios/RKZClient+Application.m" />
    <source-file src="src/ios/RKZClient+Beacon.m" />
    <source-file src="src/ios/RKZClient+Contact.m" />
    <source-file src="src/ios/RKZClient+Coupon.m" />
    <source-file src="src/ios/RKZClient+ObjectData.m" />
    <source-file src="src/ios/RKZClient+News.m" />
    <source-file src="src/ios/RKZClient+Point.m" />
    <source-file src="src/ios/RKZClient+Spot.m" />
    <source-file src="src/ios/RKZClient+StampRally.m" />
    <source-file src="src/ios/RKZClient+User.m" />

    <source-file src="src/ios/BaaSAtRakuza/libBaaSAtRakuza.a" target-dir="BaaSAtRakuza" framework="true" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/NSDate+RKZUtilities.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/NSData+RKZUtilities.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/NSString+RKZUtilities.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZApplicationConfigData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZBeaconData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZBeaconDetectContactData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZBeaconSpotData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZContactData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZCouponData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZFieldData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZLocaleData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZLocation.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZMyCouponData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZMyStampHistoryData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZNewsData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZNewsReadHistoryData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZObjectData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZPagingData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZPointData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZResponseStatus.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZSearchCondition.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZService.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZSortCondition.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZSpotData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZStampRallyData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZStampRallySpotData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZUploadFileData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZUserData.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
    <header-file src="src/ios/BaaSAtRakuza/include/BaaSAtRakuza/RKZUserEditWebView.h" target-dir="BaaSAtRakuza/include/BaaSAtRakuza" />
  </platform>
</plugin>
